h4{
    color:yellow;
}

/* css comment*/
h3{
    color:orange!important;
}

#h3_id{
    background-color: black;
}

.h3_class{
    background-color: brown;
}
/* +++++++++++++++++++++++++++++++++++++++++ */
#param_id{
    /* color:red;
    color:#a9f;
    color:#aa99ff;
    color:rgb(0,255,0); */
    color:rgba(0,255,0,0.9);

    background-color: black;

    /* padding: ic bosluk padding-top:25px;
    padding-right:25px;
    padding-bottom:25px;
    padding-left:25px;
    padding: 25px; */
    padding: 50px 25px;
    margin:10px;

    border:2px solid blue;

    text-align: justify;
    text-decoration: underline;
    text-indent: 50px;
    text-transform: capitalize;
    text-shadow: 1px 1px 20px yellow;

    word-spacing: 5px;
    letter-spacing: 1px;
    line-height: 20px;

    font-size: 20px;
    font-weight: 900;
    font-style: italic;
}