/* h4{
    color:yellow;
} */

/* css comment*/
/* h3{
    color:orange!important;
}

#h3_id{
    background-color: black;
}

.h3_class{
    background-color: brown;
} */
/* +++++++++++++++++++++++++++++++++++++++++ */
/* #param_id{
     color:red;
    color:#a9f;
    color:#aa99ff;
    color:rgb(0,255,0); 
    color:rgba(0,255,0,0.9);
    background-color: black; 
    padding-right:25px;
    padding-bottom:25px;
    padding-left:25px;
    padding: 25px; 
    padding: 50px 25px;
    margin:10px;
    border:2px solid blue;
    text-align: justify;
    text-decoration: underline;
    text-indent: 50px;
    text-transform: capitalize;
    text-shadow: 1px 1px 20px yellow;
    word-spacing: 5px;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    cursor: pointer;
} */

/* #param_id:hover{
    color:black;
    background-color: rgba(0,255,0,0.9);
    visibility: none;
    display: none;
    display: inline;
    display: inline-block;
    display: block;
    width: 50%;
    height: 700px;
} */


* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --template_bg_color: black;
    --template_color: white;
}

body {
    margin: 0 50px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    background-color: var(--template_bg_color);
    color: var(--template_color);
    padding: 10px;
    cursor: pointer;
    transition: 2s all;
    border-radius: 3px;
    text-transform: uppercase;
}

li:hover {
    background-color: var(--template_color);
    color: var(--template_bg_color);
    transform: rotate(360deg);
}

.paragraph_menu {
    text-align: justify;
    margin-top: 25px;
    column-count: 2;
    column-rule: 1px solid red;
}

.my_image {
    max-width: 100%;
    margin: 20px auto;
    transition: 2s all;
}

.my_image:hover {
    opacity: 0.8;
    border: 2px solid lightblue;
}

.div_float {
    padding: 15px;
    box-shadow: 1px 1px 10px black;
    margin-right: 3px;
    width: 24%;
    height: 250px;
    display: inline-block;
    float: right;
}

.my_clearfix::before {
    clear: both;
    content: "";
    display: block;
}

/*Selector*/
/* 
*     : Hepsi
p     : tüm p 
div,p : tüm div ve tüm p 
div>p : parent:div child:p 
div~p : div ile p aynı seviyese ve tüm p 
div+p : div ile p aynı seviyede sadece 1 tane p  
*/
div,p{
    background-color: blue;
}

div>p{
    background-color: yellow;
}

div~p{
    background-color: black;
    color:white;
}

div+p{
    background-color: orange;
    color:white;
}